body {
    font-family: 'Pretendard', 'sans-serif';
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;  
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login{
  width: 640px;
  height: 618px;
}
.signup{
  width: 640px;
  height: 857px;
}
.logo-img{
  width: 396px;
  height: 132px;
  cursor: pointer;
}

/* 사용자 로그인 입력 영역 */
.user-account-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user-email-container,
.user-name-container,
.user-password-container,
.user-password-check-container{
  margin-bottom: 24px;
}
label{
  color: var(--gray-800);
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}
.input-wrapper{
  position: relative;
}
.input-box{
  display: block;
  background-color: var(--gray-100);
  width: 100%;
  height: 56px;
  border-radius: 12px;
  border-style: none;
  padding: 0 13px;
}
.input-btn{
  display: flex;
  border-style: none;
  background-color: transparent;  
  cursor: pointer; 
  position: absolute;
  top: 50%; 
  right: 16px; 
  transform: translateY(-50%); 
  padding: 0;
}
.input-btn-img{
  width: 24px;
  height: 24px; 
}

/* 로그인 버튼 */
.login-btn{
  background-color: var(--gray-400);
  color: var(--gray-100);
  width: 100%;
  height: 56px;
  border-style: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 16px 0;
  margin-bottom: 24px;
  cursor: pointer;
}
.login-btn:hover{
  background-color: var(--gray-500);
}

/* 간편 로그인 영역 */
.sns-login{
  background-color: var(--blue-50);
  border-radius: 8px;
  padding: 16px 23px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sns-text{
  font-size: 16px;
  font-weight: 500;
}
.sns-site{
  display: flex;
  gap: 8px;
}
.sns-img{
  width: 42px;
  height: 42px;
} 

/* 회원가입 영역 */
.sign-up{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.sign-up-text{
  color: var(--gray-800);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.sign-up-btn{
  color: var(--blue-100);
  font-size: 14px;
  font-weight: 500;
}

/* 맨아래 로그인 영역 */
.log-in{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.log-in-text{
  color: var(--gray-800);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.log-in-btn{
  color: var(--blue-100);
  font-size: 14px;
  font-weight: 500;
}

/* 모바일 사이즈 */
@media (min-width: 375px) and (max-width: 767px) {
  .main {
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;
    max-width: 400px;
  }
}