/* 배경색 및 폰트 컬러 */
:root {
  --color-gray-50:  #F9FAFB;
  --color-gray-100: #F3F4F6;
  --color-gray-200: #E5E7EB;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-600: #4B5563;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;
  
  --color-white:  #FFFFFF;

  --color-border: #DFDFDF;
  --color-main-bg: #CFE5FF;
  --color-bg: #FCFCFC;

  --color-blue-50:  #E6F2FF;
  --color-blue-100: #3692FF;
  --color-blue-200: #1967D6;
  --color-blue-300: #1251AA;
}