:root {
  --gray-10:#F3F4F6;
  --gray-20:#DFDFDF;
  --gray-30:#cccccc;
  --gray-40:#9CA3AF;
  --gray-50:#4B5563;
  --gray-60:#555555;
  --gray-70:#1F2937;
  --gray-80:#111827;

  --border:#E5E7EB;
  --white:#FFFFFF;

  --blue-10:#3692FF;
  --blue-20:#007bff;
}