.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.accodion {
  min-height: 42px;
  width: 130px;
  border: 1px solid var(--border);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.textBox{
  width: 90px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.text{
  font-weight: 400;
  font-size: 16px;
}
.accodionContainer {
  display: flex;
  flex-direction: column;
  height: 84px;
  width: 130px;
  z-index: 1;
  background-color: var(--white);
  border-radius: 12px;
  cursor: pointer;
}
.recent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border: 1px solid var(--border);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  border: 1px solid var(--border);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.sortImage {
  display: none;
}

@media (max-width: 375px) {
  .section {
    align-items: flex-end;
  }
  .accodion {
    width: 42px;
    height: 42px;
  }
  .accodionContainer {
    position: absolute;
    top: 50px; 
    right: -10px;
  }
  .textBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .sortImage {
    display: block; 
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  .toggle {
    display: none; 
  }
  .text {
    display: none;
  }
}