.titleText {
  color: #111827;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 16px 0;
}
.section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  max-height: 740px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 43px;
}
.allItemBody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 24px; 
  row-gap: 40px;
  margin-top: 24px;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.allItemHead {
  display: flex;
  height: 42px;
  display: flex;
  justify-content: space-between;
}
.inputContainer {
  display: flex;
  gap: 10px;
  position: relative;
}
.searchImage {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 9px 0 9px 16px;
}
.inputBox {
  border-radius: 12px;
  width: 325px;
  border: none;
  background-color: #F3F4F6;
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
  padding-left: 44px;
  cursor: pointer;
}
.itemBtn {
  background-color: #3692FF;
  border-radius: 8px;
  width: 133px;
  color: #F3F4F6;
  font-size: 16px;
  font-weight: 600;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 744px) { 
  .section {
    padding: 0 24px;
    width: auto;
  }
  .allItemBody {
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 40px;
    column-gap: 16px;
  }
  .inputBox {
    width: 242px;
  }
  li {
    width: 220px;
    height: 317px;
  }
  .titleText {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .section {
    max-width: 344px;
    width: 100%;
    height: auto;
    padding: 0 16px;
    margin-right: 0;
    margin-bottom: 40px;
    position: relative;
  }
  .allItemHead {
    margin-bottom: 56px;
  }
  li {
    width: 168px;
    height: auto;
  }
  .searchImage {
    position: absolute;
    top: 51px;
    left: -210px;
    z-index: 10;
  }
  .itemBtn {
    width: 134px;
    height: 40px;
  } 
  .allItemBody {
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 8px;
  }
  .inputBox {
    position: absolute;
    top: 50px; 
    right: 50px; 
    width: 235px; 
    height: 42px;
    margin-right: 14px;
  }
  .titleText {
    font-size: 18px;
    margin: 0;
  }
  .inputContainer > :last-child {
    position: absolute;
    top:  50px;
    right: 16px;
    width: 24px;
    height: 40px;
    display: flex;
    align-items: center;
  } 
}
