.header {
  display: flex;
  max-width: 1920px;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 100px;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-20);
  justify-content: space-between;
}
.headerContainer {
  display: flex;
}
.logo{
  margin-top: 10px;
  width: 153px;
  height: 51px;
  cursor: pointer;
}
.textBox {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  width: 201px;
  height: 68px;
}
.text {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 21px 15px;
  color: var( --gray-50);
  cursor: pointer;
}
.blue {
  color: var(--blue-10);
}
.profile{
  cursor: pointer;
  margin-top: 15px;
  width: 40px;
  height: 40px;
}

@media (max-width: 744px) { 
  .header {
    padding: 0 24px; 
    height: 100%;
  }
  .textBox {
    margin-left: 15px;
    width: auto; 
  }
  .text {
    font-size: 18px;
    padding: 21px 10px;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 0 16px; 
    height: 100%;
  }
  .headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    content: url('../assets/textLogo.png');
    width: 82px;
    height: 27px;
    margin: 0;
  }
  .text{
    font-size: 16px;
  }
}