.section {
  width: 304PX;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 58px;
}
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.pageButton {
  border: 1px solid var(--gray-30);
  background: var(--white);
  color: var(--gray-60);
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.active {
  background: var(--blue-20);
  color: var(--white);
  border-color: var(--blue-20);
  font-weight: bold;
}
.pageButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 744px) { 
  .section {
    margin-bottom: 72px;
  }
}

@media (max-width: 375px) {
  .section {
    margin-bottom: 35px; 
  }
}