.section {
  max-height: 40px;
  margin: 0 auto;
  margin-bottom: 58px;
}
.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageButton {
  border: 1px solid #ccc;
  background: white;
  color: #555;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;
  display: flex; 
  align-items: center; 
  justify-content: center;
}
.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
  font-weight: bold;
}
.pageButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}